// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 JetHome
 * Author:
 */

/dts-v1/;

#include "amlogic/meson-s7d.dtsi"
#include "amlogic/meson-s7d-txxx.dtsi"

#include <dt-bindings/leds/common.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "jethome,jethub-j300", "amlogic,s7d-txxx", "amlogic,meson-s7d";
	model = "JetHome JetHub D3 mini";

	aliases {
		serial0 = &uart_b;
		ethernet0 = &ethmac;
		mmc0 = &sd_emmc_c;  /* eMMC */
        mmc1 = &sd_emmc_b;  /* SD card */
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	/* 4GiB RAM */
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x1 0x00000000>;
	};

	/* Power regulators */
	vddio_boot: regulator-vddio-boot {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_BOOT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddao_3v3: regulator-vddao-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddio_ao18: regulator-vddio-ao18 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO18";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_3v3: regulator-vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_5v: regulator-vcc-5v {
		compatible = "regulator-fixed";
		regulator-name = "VCC_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		/*reset-gpios = <&gpio GPIOB_9 GPIO_ACTIVE_HIGH>;*/
	};

	gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		button_up {
			label = "Joystick Up";
			gpios = <&exp24 8 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_UP>;
			debounce-interval = <10>;
		};

		button_down {
			label = "Joystick Down";
			gpios = <&exp24 9 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_DOWN>;
			debounce-interval = <10>;
		};

		button_left {
			label = "Joystick Left";
			gpios = <&exp24 10 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_LEFT>;
			debounce-interval = <10>;
		};

		button_right {
			label = "Joystick Right";
			gpios = <&exp24 11 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_RIGHT>;
			debounce-interval = <10>;
		};

		button_center {
			label = "Joystick Center";
			gpios = <&exp24 12 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_ENTER>;
			debounce-interval = <10>;
		};

		button_home {
			label = "Joystick Home";
			gpios = <&exp24 13 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_HOME>;
			debounce-interval = <10>;
		};

		button_back {
			label = "Joystick Back";
			gpios = <&exp24 14 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_BACK>;
			debounce-interval = <10>;
		};
	};
};

&uart_b {
 	status = "okay";
};

/* eMMC */
&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_pins>;
	pinctrl-names = "default";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;
	card_type = <1>;

	/* Clock phases */
	init_co_phase = <2>;
	init_tx_phase = <0>;

	hs_co_phase = <2>;
	hs_to_phase = <0>;

	hs2_co_phase = <2>;
	hs2_to_phase = <0>;

	/* HW Reset GPIOB_9 */
	hw_reset = <&gpio GPIOB_9 GPIO_ACTIVE_HIGH>;
};

/* SD card */
&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sdcard_pins>;
	pinctrl-1 = <&sdcard_pins &to_sduart_pins>;
	pinctrl-names = "sd_all_pins", "sd_uart";
	card_type = <5>;

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <50000000>;
	disable-wp;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_HIGH>;
	cd-inverted;

	/* Clock phases */
	init_co_phase = <2>;
	init_tx_phase = <0>;

	sd_hs_co_phase = <2>;
	sd_hs_to_phase = <0>;
};

&spi_nfc {
	status = "disable";
	pinctrl-0 = <&spi_nfc_pins>;
	pinctrl-names = "default";

	flash@0 {
		status = "disable";
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>; /* 10 MHz */
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "bootloader";
				reg = <0x00000000 0x00200000>;  /* 2 MB */
				read-only;
			};

			partition@200000 {
				label = "env";
				reg = <0x00200000 0x00010000>;  /* 64 KB */
			};

			partition@210000 {
				label = "data";
				reg = <0x00210000 0x03DF0000>;
			};
		};
	};
};

&ethmac {
	status = "okay";
	internal_phy = <1>;
};


/* I2C for modules */
&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_pins2>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
};

&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_pins2>;
    pinctrl-names = "default";
    clock-frequency = <400000>;

    atecc608a: crypto@60 {
        compatible = "atmel,atecc508a";
        reg = <0x60>;
    };

	ssd1306: oled@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		solomon,com-invdir;
		solomon,page-offset = <0x00>;
		solomon,dclk-div = <1>;
		solomon,dclk-frq = <8>;
		solomon,prechargep1 = <2>;
		solomon,prechargep2 = <8>;
	};

	exp24: gpio@24 {
		compatible = "nxp,pca9535";
		reg = <0x24>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names =
			"", "", "", "", "", "", "", "",
			"JOY_UP", "JOY_DOWN", "JOY_LEFT", "JOY_RIGHT",
			"JOY_CENTER", "JOY_HOME", "JOY_BACK", "";
	};
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3_pins1>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
};







