// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 JetHome
 * Minimal DTS for JetHub J310 (S7/S905Y5)
 */

/dts-v1/;

#include "amlogic/meson-s7.dtsi"
#include "amlogic/meson-s7-txxx.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "jethome,jethub-j310", "amlogic,s7-txxx", "amlogic,meson-s7";
	model = "JetHome JetHub J310";

	aliases {
		serial0 = &uart_b;
		mmc0 = &sd_emmc_b;  /* SD card */
		mmc1 = &sd_emmc_c;  /* eMMC */
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	vddio_boot: regulator-vddio-boot {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_BOOT";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddao_3v3: regulator-vddao-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&uart_b {
	status = "okay";
};

/* SD card */
&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sdcard_pins>;
	pinctrl-1 = <&sdcard_pins &to_sduart_pins>;
	pinctrl-names = "sd_all_pins", "sd_uart";

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <50000000>;
	disable-wp;
	no-sd-uhs;

	card_type = <5>;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_HIGH>;
	cd-inverted;

	init_co_phase = <2>;
	init_tx_phase = <0>;

	sd_hs_co_phase = <2>;
	sd_hs_to_phase = <0>;

	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_boot>;
};

/* eMMC */
&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_pins>;
	pinctrl-names = "default";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;
	card_type = <1>;

	init_co_phase = <2>;
	init_tx_phase = <0>;

	hs_co_phase = <2>;
	hs_to_phase = <0>;

	hs2_co_phase = <2>;
	hs2_to_phase = <0>;

	hw_reset = <&gpio GPIOB_9 GPIO_ACTIVE_HIGH>;
};

/* USB */
&crg1 {
	status = "okay";
	dr_mode = "host";
};

&usb21_phy_v2 {
	status = "okay";
	portnum = <1>;
};

&usb31_phy_v2 {
	status = "okay";
	portnum = <0>;
};

&crg2 {
	status = "okay";
	dr_mode = "host";
};

&usb22_phy_v2 {
	status = "okay";
	portnum = <1>;
};

&usb32_phy_v2 {
	status = "okay";
	portnum = <0>;
};

&ethmac {
	status = "okay";
	internal_phy = <1>;
};
