// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2023 JetHome
 * Author: Viacheslav Bocharov <adeep@lexina.in>
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"

/ {
	model = "JetHub JXD CPU-A1C1";
	compatible = "jethome,jxd-cpu-a1c1", "allwinner,sun8i-t113s";

	cpus {
		/*enable-method = "allwinner,sun8iw20p1";*/
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a7";
			device_type = "cpu";
			reg = <0>;
			clocks = <&ccu CLK_CPUX>;
			clock-names = "cpu";
		};

		cpu1: cpu@1 {
			compatible = "arm,cortex-a7";
			device_type = "cpu";
			reg = <1>;
			clocks = <&ccu CLK_CPUX>;
			clock-names = "cpu";
		};

	};

	aliases {
		serial3 = &uart3;
		/*serial3 = "/soc/serial@2500c00";*/

		ethernet0 = &rtl8723ds;
	};

	chosen {
		stdout-path = "serial3:115200n8";
		bootargs = "mem=128M cma=48M console=ttyS3,115200 earlyprintk=sunxi-uart,0x2500c00 root=/dev/sda1 rootwait";/* root=/dev/mtdblock3"; rootfstype=squashfs rootwait  rootfstype=squashfs";*/
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 3 9 GPIO_ACTIVE_LOW>; /* PD9 */
		};
	};


/* !!!!!!!!!!!! @TODO check power supply from schematic !!!!!!!!!!!!!!! */
	/* board wide 5V supply directly from the USB-C socket */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* SY8008 DC/DC regulator on the board */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* SY8008 DC/DC regulator on the board, also supplying VDD-SYS */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* XC6206 LDO on the board */
	reg_avdd2v8: regulator-avdd {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_3v3>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 3 16 GPIO_ACTIVE_LOW>; /* PD16 */
	};


};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
	clock-frequency = <1200000000>;
	#cooling-cells = <2>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
	clock-frequency = <1200000000>;
	#cooling-cells = <2>;
};

&dcxo {
	clock-frequency = <24000000>;
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "otg"; /* was peripheral from mango*/
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};

/* WiFi module */
&mmc1 {
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	non-removable;
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	status = "okay";

	rtl8723ds: wifi@1 {
		compatible = "realtek,rtl8723ds";
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 = WL_WAKE_AP */
		interrupt-names = "host-wake";
	};
};


/* eMMC module */
&mmc0 {
	compatible = "allwinner,sun20i-d1-emmc",
		     "allwinner,sun50i-a100-emmc";
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	/* for sd-card: cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;*/
	disable-wp;
	bus-width = <4>;
	cap-mmc-highspeed;
	max-frequency = <150000000>;
	mmc-ddr-1_8v;
	mmc-ddr-3_3v;
	no-sd;
	no-sdio;
	/delete-property/ no-mmc;
	/delete-property/ cap-sd-highspeed;
	status = "okay";
};


&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_avdd2v8>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;
	/omit-if-no-ref/
	spi0_pins: spi0-pins {
		pins = "PC2", "PC3", "PC4", "PC5";
		function = "spi0";
	};

	/omit-if-no-ref/
	uart0_pe_pins: uart0-pe-pins {
		pins = "PE2", "PE3";
		function = "uart0";
	};

};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		device-wake-gpios = <&pio 6 13 GPIO_ACTIVE_HIGH>; /* PG13 */
		enable-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; /* PG15 */
		host-wake-gpios = <&pio 6 14 GPIO_ACTIVE_HIGH>; /* PG14 */
	};
};


&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pe_pins>;
	status = "okay";
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";

        flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <40000000>;

                compatible = "spi-nand";
                reg = <0>;

                partitions {
                        compatible = "fixed-partitions";
                        #address-cells = <1>;
                        #size-cells = <1>;

                        partition@0 {
                                label = "spl";
                                reg = <0x0 0x8000>;
				read-only;
                        };

                        partition@8000 {
                                label = "u-boot";
                                reg = <0x8000 0x3F8000>;
				read-only;
                        };

                        partition@400000 {
                                label = "env";
                                reg = <0x400000 0x2000>;
				read-only;
                        };

                        partition@402000 {
                                label = "dtb";
                                reg = <0x402000 0x10000>;
                        };

			partition@500000 {
				label = "kernela";
				reg = <0x500000 0xA00000>;
			};

			partition@F00000 {
				label = "kernelb";
				reg = <0xF00000 0xA00000>;
			};

			partition@1900000 {
				label = "ubi";
                                reg = <0x1900000 0x6700000>;
                        };
                };
        };

};
